# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Dataset
data/train/
data/val/
data/test/

# Trained models
models/*.h5
models/*.hdf5

# Test images
test_image.jpg
test_image.jpeg
test_image.png
test_image.jfif

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# TensorFlow
*.log